body {
    font-family: 'Times New Roman', serif;
    background-color: #f4e1d2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
    background-size: cover;
    background-position: center;
}

.chat-container {
    width: 350px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    border: 3px solid #b48c53;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-family: 'Times New Roman', serif;
}

h1 {
    font-size: 28px;
    color: #7d4f2c;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-weight: bold;
}

.conversation {
    height: 300px;
    overflow-y: auto;
    border: 2px solid #b48c53;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #f9f4e5;  
    font-size: 16px;
    color: #2e1b17;  
    font-family: 'Times New Roman', serif;
    border-radius: 8px;
}

input::placeholder {
    color: grey;
    font-style: italic; 
}

input[type="text"] {
    width: 90%;
    padding: 12px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid #b48c53;  
    background-color: #fff8e1;  
}

button {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    background-color: #b48c53; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #8c6e39;  
}

.user-message {
    color: #1c0905;  
    text-align: left;
    font-style: italic;
    margin-bottom: 8px;
}

.bot-message {
    color: #070faf;  
    text-align: right;
    font-weight: bold;
    margin-bottom: 8px;
    font-weight: 200;
}
